/* * * * * * * * * * *  *\
 * CSS Reset by Picalli *
\* * * * * * * * * * *  */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
    padding: 0;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* * * * * * *\
 * Variables *
\* * * * * * */

@font-face {
    font-family: Sono;
    src: url(./../assets/font/Sono.woff2) format("woff2");
}

:root {
    --primary-clr-400: hsl(225, 57%, 8%);
    --primary-clr-500: hsl(221, 59%, 29%);
    --primary-clr-600: hsl(221, 59%, 50%);
    --secondary-clr-400: hsl(0, 0%, 83%);
    --secondary-clr-500: hsl(214, 32%, 91%);
    --secondary-clr-600: hsl(0, 100%, 100%);

    --fs-200: 1.0rem;
    --fs-500: 1.2rem;
    --fs-600: 1.4rem;
    --fs-700: 1.6rem;
    --fs-800: 2rem;
    --fs-900: 2.4rem;

    --size-300: 1rem;
    --size-400: 1.5rem;
    --size-500: 2rem;
    --size-600: 2.5rem;
    --size-700: 4rem;

    --ff: Sono, Times, serif;
}

/* * * * * * * * * *\
 * General styling *
\* * * * * * * * * */

html {
    font-size: 62.5%;
}

.container {
    font-family: var(--ff);
    display: grid;
    grid-template-columns: fit-content(100%) 1fr;
    grid-template-rows: fit-content(100%) 1fr;
    background-color: var(--secondary-clr-500);
}

svg {
    cursor: pointer;
    width: 25px;
    height: 25px;
    margin-right: var(--size-300);
    fill: var(--primary-clr-500);
}

.nav>:first-child,
.nav li,
.header,
.main {
    padding: var(--size-400) var(--size-600);
}

.attribution {
    margin-top: var(--size-400);
    text-align: center;
}

.attribution a {
    color: var(--primary-clr-500);
    text-decoration: none;
}

.attribution a:hover,
.attribution a:focus-visible {
    color: var(--primary-clr-600);
    text-decoration: underline;
}

/* * * * * * * * * *\
 * Navigation bar  *
\* * * * * * * * * */

.nav {
    height: max(100%, 100vh);
    background-color: var(--secondary-clr-600);
    color: var(--secondary-clr-600);
    font-size: var(--fs-700);
    color: black;

    box-shadow: 0px 0px 50px -25px black;

    grid-area: 1/1/3/2;
}

.nav svg,
.nav p {
    pointer-events: none;
}

.nav li:hover {
    border-left: 5px groove var(--primary-clr-600);
    background-color: var(--secondary-clr-500);
}

.nav li.selected:hover {
    border-left: none;
    background-color: var(--primary-clr-500);
}

.nav.hidden {
    width: 70px;
}

.nav.hidden p {
    display: none;
}

.nav.nav.hidden li,
.nav.nav.hidden>:first-child {
    padding: var(--size-300);
    justify-content: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: var(--size-300);
}

.logo img {
    width: 50px;
    display: inline;
}

.nav>:last-child {
    margin-top: var(--size-700);
}

.nav>:first-child {
    background-color: var(--primary-clr-500);
    color: var(--secondary-clr-600);
    font-size: var(--fs-900);
}

.nav li {
    margin-block: var(--size-300);
    cursor: pointer;
    width: 100%;

    display: flex;
    align-items: center;
    transition: background-color 0.2s ease-out;
}

.nav .selected {
    background-color: var(--primary-clr-500);
    color: var(--secondary-clr-600);
}

.nav .selected svg {
    fill: var(--secondary-clr-600);
}


/* * * * * *\
 * Header  *
\* * * * * */

.header {
    color: var(--secondary-clr-600);
    font-size: var(--fs-700);
    background-color: var(--primary-clr-500);
    box-shadow: 0px 0px 50px -25px black;

    display: grid;
    gap: var(--size-600);
    align-items: end;
    justify-items: start;
    align-content: space-between;
    grid-template-columns: 3fr 3fr;
    grid-area: 1/2/2/3;
}

.header input {
    border-radius: 20px;
    font-size: var(--fs-600);
    height: var(--fs-900);
    background-color: var(--secondary-clr-500);
    border: none;
    outline: none;
    flex: 1;
}

.header svg {
    fill: var(--secondary-clr-600);
}

.header img {
    height: 40px;
    width: 40px;
    background-color: var(--secondary-clr-600);
    border-radius: 50%;
}

.header .icons {
    justify-self: end;

    display: flex;
    align-items: center;
    gap: var(--size-600);
}

.header .icons img {
    cursor: pointer;
}

.navbar-toggle {
    display: inline;
    height: 25px;
    width: 25px;
}

.search-bar {
    display: flex;
    align-items: start;
    gap: var(--size-300);
    width: 100%;
}

.header .user {
    display: flex;
    gap: var(--size-600);
    padding-left: var(--size-700);
}

.header .user img {
    height: 70px;
    width: 70px;
}

.header .button {
    justify-self: end;
}

.header button {
    background-color: var(--secondary-clr-500);
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    margin: 5px;
}

.header button:hover,
.header button:focus-visible {
    background-color: var(--primary-clr-600);
    color: var(--secondary-clr-600);
}

/* * * * * * * * *\
 * Main content  *
\* * * * * * * * */

.main {
    grid-area: 2/2/3/3;

    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: var(--size-600);

    font-size: var(--fs-600);
}

.main img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid black;
}

.main h2 {
    margin-bottom: var(--size-300);
}

.main svg {
    fill: black;
}

/* * * * * * * * *\
* Project cards  *
\* * * * * * * * */

.main .projects {
    grid-area: 1/1/3/2;
}

.cards {
    display: grid;
    gap: var(--size-600);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    ;
}

.card {
    background-color: var(--secondary-clr-600);
    padding: var(--size-500);
    border-radius: 5px 20px;
    border-left: 10px solid var(--primary-clr-400);
}

.card svg {
    margin-top: var(--size-400);
}

.card h3 {
    margin-bottom: var(--size-400);
}

/* * * * * * * * *\
* Announcements  *
\* * * * * * * * */

.announcements-topics {
    display: grid;

    padding-bottom: var(--size-500);
    background-color: var(--secondary-clr-600);
    border-radius: 10px;
    font-size: var(--fs-500);
}

.announcement:not(:first-child) h3 {
    padding-top: var(--size-400);
    border-top: 2px solid var(--secondary-clr-400);
}

.announcement {
    padding: var(--size-600);
    padding-bottom: 0;
}

/* * * * * *\
* Trending *
\* * * * * */

.trending-topics {
    padding: var(--size-500);
    background-color: var(--secondary-clr-600);
    border-radius: 10px;
    font-size: var(--fs-500);
}

.trend:not(:first-child){
    margin-top: var(--size-500);
}

.trend{
    display: grid;
    grid-template-columns: 60px 1fr;
    justify-items: start;
    align-items: center;
}

/* * * * * * * * *\
* Mobile layout  *
\* * * * * * * * */

@media screen and (max-width: 778px){
    .main{
        grid-template-columns: 1fr;
    }
}